{% extends "base.html" %}
{%block main%}
{{ parent() }}
<div class="datalist">
 
	
	  <!--作品审核begin-->
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="formTable">
    <thead>
    <tr class="firstHeader spread pucker">
      <th colspan="2">图片</th>
    </tr>
    </thead>
    <tbody>  
        <tr>
      <th>上传图片：</th>
      <td style='line-height: 30px;'>
        <input name="cover" style='width: 402px;' type="text" id="uploaderfileshow" size="60" value="">
         <a style="position:relative;" href="javascript:;">
        <input id="uploadfile" style="width:80px;height:27px;position:absolute;top:0;left:0;opacity:0;" type="file" name="upfile" class="">上 传</a>
        
      </td>
    </tr>
  	<tr>
        <th>说明：</th>
		<td>
			<p>图片大小最好不要超过500k</p>
		</th>
	</tr>
    </tbody>
    </table>
</div>
<script type="text/javascript" src="{{_cfg_.site.static_base}}/public/js/ajaxupload.js"></script>
<script type="text/javascript" src="{{_cfg_.site.static_base}}/public/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{_cfg_.site.static_base}}/public/js/jquery.fileupload.js"></script>
<script type="text/javascript">
 
  var uploadurl = '/story/upload';
  var typename='book';
  //上传图片
  //alert(uploadurl);
  new AjaxUpload('#uploadfile', {
      action: uploadurl,
      name: 'upload',
      data: {
        type : typename
      },
      autoSubmit: true,
      onComplete: function (file, jsondata) {
      jsondata = $.parseJSON(jsondata);//eval("(" + jsondata + ")");
      
      if(jsondata.error == 0){
    	  if(jsondata.img_url)
          {  
            $('#uploaderfileshow').val(jsondata.img_url);
     
          }
      }
      else if(jsondata.error == 1){
    	  alert("图片须小于500k~");
      }
     
      else
      {
        alert("上传失败~");
      }
    }
  });
</script>
{%endblock%}